*.log
*.exe
portable_config/cache/
portable_config/mpv-script-test.log
portable_config/script-opts/speed_toggle_state.txt
portable_config/script-opts/persistent_prefs.json
portable_config/mpv-manager.log
